 <%= form_with model: employee do |form| %>
    <div class="flex items-center gap-4">
      <div class="mb-4">
        <%= form.label :username, class: "block text-sm mb-1" %>
        <%= form.text_field :username, class: "w-full px-3 py-2 rounded-lg bg-white/5 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
       <% @employee.errors.full_messages_for(:username).each do |messsage| %>
         <p class="text-red-600 text-xs mt-1">
         * <%= messsage %>
         </p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :age, class: "block text-sm mb-1" %>
        <%= form.text_field :age, class: "w-full px-3 py-2 rounded-lg bg-white/5 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        <% @employee.errors.full_messages_for(:age).each do |messsage| %>
         <p class="text-red-600 text-xs mt-1">
         * <%= messsage %>
         </p>
        <% end %>
      </div>
   </div>

      <div class="mb-4">
        <%= form.label :email, class: "block text-sm mb-1" %>
        <%= form.text_field :email, class: "w-full px-3 py-2 rounded-lg bg-white/5 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        <% @employee.errors.full_messages_for(:email).each do |messsage| %>
         <p class="text-red-600 text-xs mt-1">
         * <%= messsage %>
         </p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :password, class: "block text-sm mb-1" %>
        <%= form.password_field :password, class: "w-full px-3 py-2 rounded-lg bg-white/5 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        <% @employee.errors.full_messages_for(:password).each do |messsage| %>
         <p class="text-red-600 text-xs mt-1">
         * <%= messsage %>
         </p>
        <% end %>
      </div>

      <div class="mt-6">
        <%= form.submit class: "w-full py-3 bg-gray-300 text-black font-semibold rounded-lg hover:bg-gray-400 cursor-pointer" %>
      </div>
    <% end %>