<div class="min-h-[calc(100vh-20vh)] flex flex-col items-center justify-center">
      <% if @documents.empty? %>
          <p class="px-4 py-2 text-center text-gray-500">No Documents</p>
      <% else %>
  <table class="w-full max-w-4xl rounded-lg shadow-lg">
    <thead>
      <tr class="border border-white/15">
        <th class="px-4 py-2 text-left">Name</th>
        <th class="px-4 py-2 text-left">Category</th>
        <th class="px-4 py-2 text-left">Employee</th>
        <th class="px-4 py-2 text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr class="border border-white/15">
          <td class="px-4 py-2"><%= document.name %></td>
          <td class="px-4 py-2"><%= document.category %></td>
          <td class="px-4 py-2">
          <%= link_to document.employee.username, "/employees/#{document.employee.id}", class: "hover:underline text-indigo-800 hover:text-indigo-600" %>
          </td>
          <td class="px-4 py-2">
            <%= link_to "Edit", "/documents/#{document.id}/edit", class: "bg-white/10 p-2 text-sm rounded-md" %>
            <%= link_to "View", "/documents/#{document.id}", class: "bg-white/10 p-2 text-sm rounded-md" %>
            <%= link_to "Delete", "/documents/#{document.id}", method: :delete, data: {confirm: "Are you sure to delete?"}, class: "bg-red-600/30 p-2 text-sm rounded-md" %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
      <% end %>
</div>
