<div class="min-h-[calc(100vh-20vh)] flex flex-col items-center justify-center">
  <div class="bg-white/5 py-6 px-8 rounded-lg shadow-lg w-full max-w-sm">
    <div class="mb-6 text-center">
      <h1 class="text-2xl font-bold mb-4 text-white">Document Details</h1>
    </div>
    <div class="space-y-8">
<div class="flex items-center justify-between">
      <div>
        <label class="block text-sm font-medium text-gray-300">Name</label>
        <p class="text-lg font-semibold text-gray-100"><%= @document.name %></p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-300">Category</label>
        <p class="text-lg font-semibold text-gray-100"><%= @document.category %></p>
      </div>
</div>
<div class="flex items-center justify-between">
      <div>
        <label class="block text-sm font-medium text-gray-300">Employee</label>
        <p class="text-lg font-semibold text-gray-100"><%= @document.employee.username %></p>
      </div>
      </div>
          <div class="mt-2 flex gap-2">
   <%= link_to "Edit", "/documents/#{@document.id}/edit", class: "flex flex-1 justify-center bg-white/10 text-white p-2 text-sm rounded-md" %>
   <%= link_to "Delete", "/documents/#{@document.id}", method: :delete, data: {confirm: "Are you sure to delete?"}, class: "flex flex-1 justify-center bg-red-600/30 text-white p-2 text-sm rounded-md" %>
    </div>
    </div>
  </div>
</div>
